<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Statistics</div>
            <a class="nav-link" th:href="@{|/admin|}">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <a class="nav-link" th:href="@{|/report|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="fas fa-chart-area pe-1"></i>
                </div>
                Statistics
            </a>
            <div class="sb-sidenav-menu-heading">Product</div>
            <a class="nav-link" th:href="@{|/admin/product|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-plus-circle-fill pe-1"></i>
                </div>
                Add Product
            </a>
            <a class="nav-link" th:href="@{|/admin/size|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-arrows-vertical"></i>
                </div>
                Select Size
            </a>
            <div class="sb-sidenav-menu-heading">Discount</div>
            <a class="nav-link" th:href="@{|/admin/discount|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-strava pe-1"></i>
                </div>
                Add Discount
            </a>
            <a class="nav-link" th:href="@{|/admin/applydiscount|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-patch-plus-fill pe-1"></i>
                </div>
                Apply Discount
            </a>
            <div class="sb-sidenav-menu-heading">Voucher</div>
            <a class="nav-link" th:href="@{|/admin/voucher|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-ticket-fill pe-1"></i>
                </div>
                Add Vouchers
            </a>
            <div class="sb-sidenav-menu-heading">Administrator</div>
            <a class="nav-link" th:href="@{|/admin/authority|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-shield-fill-check pe-1"></i>
                </div>
                Authorization
            </a>
            <a class="nav-link" th:href="@{|/admin/staff|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-person-fill-add pe-1"></i>
                </div>
                Add Staff
            </a>
            <a class="nav-link" th:href="@{|/admin/blockaccount|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-person-fill-lock pe-1"></i>
                </div>
                Block Accounts
            </a>
            <div class="sb-sidenav-menu-heading">Addons</div>
            <a class="nav-link" th:href="@{|/admin/order|}">
                <div class="sb-nav-link-icon">
                    <i style="font-size: 18px;" class="bi bi-arrow-right-circle-fill"></i>
                </div>
                Orders
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small text-center text-white">
            <h5>Dream Team</h5>
        </div>
    </div>
</nav>