<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/img/logo.jpg" type="image/x-icon" />
    <title>Dream - The Coffee and Tea</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/detail.css" rel="stylesheet">

    <!-- Template detail -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body ng-app="cart_app" ng-controller="ctrl">
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>

    <!-- Navbar Start -->
    <div th:replace="~{/user/component/header.html}"></div>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-2 text-dark mb-4 animated slideInDown" th:text="#{product.title}"></h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ul class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a th:href="@{|/home|}" th:text="#{breadcrumb.home}"></a></li>
                    <li class="breadcrumb-item"><a th:href="@{|/store|}" th:text="#{product.title}"></a></li>
                    <li class="breadcrumb-item text-dark" aria-current="page" th:text="#{breadcrumb.details}"></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Main Content -->
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image" style="border: none;">
                            <img th:src="@{'/img/gallery/' + ${product.image}}" id="main_product_image" width="400px">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 th:text="${product.name}"></h3>
                        </div>
                        <div class="mt-2 mb-2 content" style="margin-left: 5px; text-align: justify;">
                            <p style="font-size: 18px;" th:text="${product.describe}"></p>
                        </div>
                        <div th:if="${product.isDiscounted}">
                            <del th:id="${'product-price' + product.id}" class="product-price"
                                th:text="${product.formattedPrice}"></del>
                            <h3 th:id="${'product-discountedPrice' + product.id}" class="product-discountedPrice"
                                th:text="${product.formattedDiscountedPrice}"></h3>
                        </div>
                        <!-- If product is not in sales category -->
                        <div class="pb-3" style="margin-left: 5px;" th:unless="${product.isDiscounted}">
                            <h2 th:id="${'product-price' + product.id}" class="product-price"
                                th:text="${product.formattedPrice}"></h2>
                        </div>
                        <!-- Display the average star rating -->
                        <div style="margin-left: 5px;">
                            <div th:if="${averageRating == 0}" class="ratings d-flex flex-row align-items-center">
                                <div class="d-flex flex-row">
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                            </div>
                            <div th:if="${averageRating == 1}" class="ratings d-flex flex-row align-items-center">
                                <div class="d-flex flex-row">
                                    <i class='bx bx-star star-fe'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                            </div>
                            <div th:if="${averageRating == 2}" class="ratings d-flex flex-row align-items-center">
                                <div class="d-flex flex-row">
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                            </div>
                            <div th:if="${averageRating == 3}" class="ratings d-flex flex-row align-items-center">
                                <div class="d-flex flex-row">
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                            </div>
                            <div th:if="${averageRating == 4}" class="ratings d-flex flex-row align-items-center">
                                <div class="d-flex flex-row">
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                            </div>
                            <div th:if="${averageRating == 5}" class="ratings d-flex flex-row align-items-center">
                                <div class="d-flex flex-row">
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                    <i class='bx bxs-star star-fe'></i>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3" th:if="${availableSizes.size() > 1}" style="margin-left: 5px;">
                            <h3 class="fw-bold" th:text="#{product.size}"></h3>
                            <form th:object="${product}" class="rad-group">
                                <div th:each="size : ${availableSizes}">
                                    <input type="radio" th:id="${'size-' + size.id}" th:field="*{selectedSize}"
                                        th:value="${size.id}" th:data-product-id="${product.id}"
                                        ng-model="selectedSizeID" />
                                    <label th:for="${'size-' + size.id}" th:text="${size.name}"></label>
                                </div>
                            </form>
                        </div>
                        <div class="buttons mt-4">
                            <button class="btn btn-dark rounded-pill py-2 px-2 m-2" style="width: 180px;"
                                th:attr="ng-click=@{|cart.add(${product.id},selectedSizeID)|}"
                                th:id="'addToCartButton_' + ${product.id}">
                                <span th:text="#{button.addToCart}"></span> <i class="fa fa-cart-plus ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    Comment section start-->
        <div id="feedback-section" style="margin-top: 40px;">
            <h3 th:text="#{feedback.recentReviews}"></h3>
            <div th:if="${remoteUser != null}">
                <form th:action="@{'/feedback/' + ${product.name}}" method="post" enctype="multipart/form-data">
                    <div class="form-group mt-4 mb-5">
                        <div class="rating">
                            <div id="radio" class="star-rate">
                                <input type="radio" class="star-check" name="rating" value="1" required />
                                <input type="radio" class="star-check" name="rating" value="2" required />
                                <input type="radio" class="star-check" name="rating" value="3" required />
                                <input type="radio" class="star-check" name="rating" value="4" required />
                                <input type="radio" class="star-check" name="rating" value="5" required />
                                <div class="stars">
                                    <span><i data-star-value="1" class="fa fa-star"></i></span>
                                    <span><i data-star-value="2" class="fa fa-star"></i></span>
                                    <span><i data-star-value="3" class="fa fa-star"></i></span>
                                    <span><i data-star-value="4" class="fa fa-star"></i></span>
                                    <span><i data-star-value="5" class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                        <textarea id="comment" name="comment" class="form-control mt-4"
                            th:placeholder="#{feedback.addComment}" required></textarea>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="custom-file-upload">
                                <input type="file" name="file" accept="image/*">
                                <i class="bi bi-images"></i>
                            </label>
                            <button type="submit" class="btn btn-primary" id="submitButton">
                                <span th:text="#{product.send}"></span>
                                <i class="bi bi-arrow-right ms-1"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${remoteUser == null}">
                <!-- Hiển thị thông báo khi chưa đăng nhập -->
                <h3 th:text="#{feedback.loginPrompt}"></h3>
            </div>

            <div style="margin: 30px auto;">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p style="font-size: 25px;" class="mb-0 fw-bold">Comments(<span
                                th:text="${totalComments}"></span>)</p>
                    </div>
                    <form id="ratingFilter" th:action="@{'/product/' + ${name}}" method="get">
                        <div class="d-flex align-items-center sort-comments">
                            <label style="font-size: 18px;" class="me-2 fw-bold" for="starRating"
                                th:text="#{sort.by.star.rating}">
                            </label>
                            <select id="starRating" name="starRating" class="form-control" style="width: 200px;">
                                <option value="0">None</option>
                                <option value="1">1 star</option>
                                <option value="2">2 stars</option>
                                <option value="3">3 stars</option>
                                <option value="4">4 stars</option>
                                <option value="5">5 stars</option>
                            </select>
                        </div>
                    </form>
                </div>
                <hr>
            </div>

            <div th:each="feedback : ${feedbackList}">

                <div class="col-md-12 container">
                    <div class="row">
                        <div class="col-md-11" style="padding-left: 10px;">
                            <div class="card text-dark"
                                style="margin-bottom: 20px; border-bottom: 1px solid #DCDCDC; border-radius: 0px;">
                                <div class="card-body d-flex justify-content-between align-items-center mb-2">
                                    <img class="img-avatar rounded-circle shadow-1-strong me-3"
                                        th:src="@{'/img/avatar/' + ${feedback.accountDTO.avatar}}" alt="avatar" />
                                    <div class="row justify-content-between align-items-center w-100 mb-2">
                                        <div class="col-md-3">
                                            <h6 class="mb-1" th:text="${feedback.accountDTO.fullname}"></h6>
                                        </div>
                                        <div class="col-md-2 ms-auto">
                                            <div style="float: right;">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0 me-2"
                                                        th:text="${#dates.format(feedback.createDate, 'dd-MM-yyyy')}">
                                                    </p>
                                                    <p class="mb-0"
                                                        th:text="${#dates.format(feedback.createTime, 'HH:mm')}">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-1 mb-1">
                                            <div th:if="${feedback.rating == 0}"
                                                class="ratings d-flex flex-row align-items-center">
                                                <div class="d-flex flex-row">
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                            </div>
                                            <div th:if="${feedback.rating == 1}"
                                                class="ratings d-flex flex-row align-items-center">
                                                <div class="d-flex flex-row">
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                            </div>
                                            <div th:if="${feedback.rating == 2}"
                                                class="ratings d-flex flex-row align-items-center">
                                                <div class="d-flex flex-row">
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                            </div>
                                            <div th:if="${feedback.rating == 3}"
                                                class="ratings d-flex flex-row align-items-center">
                                                <div class="d-flex flex-row">
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bx-star'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                            </div>
                                            <div th:if="${feedback.rating == 4}"
                                                class="ratings d-flex flex-row align-items-center">
                                                <div class="d-flex flex-row">
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                            </div>
                                            <div th:if="${feedback.rating == 5}"
                                                class="ratings d-flex flex-row align-items-center">
                                                <div class="d-flex flex-row">
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                    <i class='bx bxs-star star-fe'></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p style="font-size: 20px; margin-bottom: 0px;" class="mt-2"
                                            th:text="${feedback.note}">
                                        </p>
                                        <div class="img-feedback mb-0">
                                            <img class=" img-fluid" th:src="@{'/img/feedback/' + ${feedback.image}}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="d-flex justify-content-between align-items-center">
                                <div th:if="${isAdminOrStaff}" class="ms-auto">
                                    <button class="btn btn-danger"
                                        style="border-radius: 50px; padding: 3px 7px; margin-top: 50px;"
                                        data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${feedback.id}">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                    <div class="modal fade delete-modal" th:id="'deleteModal' + ${feedback.id}"
                                        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"
                                                        th:text="#{confirmDeletionTitle}"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div style="text-align: center; font-size: 22px;"
                                                        th:text="#{confirmDeletionText}"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <!-- Sử dụng thymeleaf để mã hóa URL -->
                                                    <a th:href="@{/deleteComment/{id}(id=${feedback.id}, name=${name})}"
                                                        class="btn btn-danger" th:text="#{deleteButton}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="feedback-pagination mt-3 text-center fw-bold">
                <a th:href="@{'/product/' + ${name} + '?page=0'}" class="btn btn-primary text-white"
                    th:classappend="${currentPage == 0} ? 'disabled' : ''"><i class="bi bi-chevron-double-left"></i></a>
                <a th:href="@{'/product/' + ${name} + '?page=' + ${currentPage - 1} }"
                    class="btn btn-primary text-white" th:classappend="${currentPage == 0} ? 'disabled' : ''"><i
                        class="bi bi-chevron-left"></i></a>
                <span th:text="${currentPage + 1} + ' / ' + ${totalPages}" class="btn btn-light"
                    disabled="disabled"></span>
                <a th:href="@{'/product/' + ${name} + '?page=' + ${currentPage + 1} }"
                    class="btn btn-primary text-white"
                    th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''"><i
                        class="bi bi-chevron-right"></i></a>
                <a th:href="@{'/product/' + ${name} + '?page=' + ${totalPages - 1} }" class="btn btn-primary text-white"
                    th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''"><i
                        class="bi bi-chevron-double-right"></i></a>
            </div>
        </div>
        <!--    Comment section end-->

    </div>
    <!-- Main content end -->


    <!-- Footer Start -->
    <div th:replace="~{/user/component/footer.html}"></div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div th:replace="~{/user/component/copyright.html}"></div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/detail.js"></script>

    <!-- Cart Control -->
    <script src="/js/cart.js"></script>

    <!-- Main Control -->
    <script src="/js/main.js"></script>
</body>

</html>