<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/img/logo.jpg" type="image/x-icon" />
    <title>Vouchers - Dream Admin</title>
    <link type="text/css" href="/css/admin/admin.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body class="sb-nav-fixed" ng-app="voucher_app" ng-controller="voucher_ctrl">
    <div th:replace="~{/admin/component/header.html}"></div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <div th:replace="~{/admin/component/sidebar.html}"></div>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="card mb-4" style="border: none;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="mb-0"> <i class="fas fa-table me-1"></i> Vouchers</h4>
                        <div class="button-action">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center mb-1 mt-1">
                            <div class="col-md-4">
                                <div class="d-flex">
                                    <div class="form-group mb-0 me-3">
                                        <label for="dateFilter" class="fw-bold pt-1" style="font-size: 18px;">
                                            Filter by Status:</label>
                                    </div>
                                    <div class="form-group mb-0" style="width: 200px;">
                                        <select class="form-select" ng-model="selectedStatus"
                                            ng-change="filterVouchers()">
                                            <option value="">All Status</option>
                                            <option ng-repeat="s in status" value="{{ s.id }}">{{ s.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Thanh tìm kiếm ở góc phải -->
                            <div class="col-md-2 ms-auto">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                                        aria-describedby="basic-addon2" ng-model="searchText"
                                        ng-change="searchVouchers()">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div class="button-container">
                                <a type="button" class="btn btn-danger"  th:href="@{|/rest/vouchers/pdf|}">
                                    <i class="bi bi-filetype-pdf"></i> PDF
                                </a>
                                <a type="button" class="btn btn-success" th:href="@{|/rest/vouchers/download|}">
                                    <i class="bi bi-arrow-down-circle-fill"></i> Excel
                                </a>
                            </div>
                            <table class="table table-hover table-bordered text-center order-datatable">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Number</th>
                                        <th>Icon</th>
                                        <th style="text-align: left;">Name</th>
                                        <th>VoucherNumber</th>
                                        <th>Discount</th>
                                        <th>Condition</th>
                                        <th>ActiveDate</th>
                                        <th>ExpireDate</th>
                                        <th>Status</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="no-border-x">
                                    <tr ng-repeat="voucher in paginatedListVoucher()">
                                        <td>{{$index + 1}}</td>
                                        <th style="font-size: 35px; font-weight: bold;">
                                            <i class="{{ voucher.icon }}"></i>
                                        </th>
                                        <td style="text-align: left;"> {{ voucher.name }}</td>
                                        <td> {{ voucher.number }}</td>
                                        <td> {{ voucher.price | number: 0 }}đ </td>
                                        <td>Tối thiểu {{ voucher.condition | number: 0}}đ</td>
                                        <td>{{ voucher.createDate | date:'dd-MM-yyyy' }}</td>
                                        <td>{{ voucher.expiredDate | date:'dd-MM-yyyy' }}</td>
                                        <td ng-if="voucher.status === 1">Active</td>
                                        <td ng-if="voucher.status === 2">InActive</td>
                                        <td>{{ voucher.type }}</td>
                                        <td>
                                            <button class="btn btn-dark" ng-click="editVoucher(voucher)"
                                                data-bs-toggle="modal" data-bs-target="#myModal">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                            <button class="btn btn-danger" data-bs-toggle="modal" ng-click="setDeleteItem(voucher)"
                                                data-bs-target="#delete-this-Modal">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-between align-items-center pt-2 pb-0">
                            <div class="fw-normal" style="font-size: 18px;">
                                Showing {{ (currentPageVoucher - 1) * pageSizeVoucher + 1 }} to
                                {{ currentPageVoucher * pageSizeVoucher > vouchers.length ? vouchers.length :
                                currentPageVoucher * pageSizeVoucher }}
                                of {{ vouchers.length }} entries
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item" ng-class="{ 'disabled': currentPageVoucher === 1 }">
                                        <a class="page-link" href="#" tabindex="-1" ng-click="firstPageVoucher()"
                                            aria-disabled="true">
                                            <i class="bi bi-caret-left-fill"></i> </a>
                                    </li>
                                    <li class="page-item" ng-repeat="page in getPager()"
                                        ng-class="{ 'active': currentPageVoucher === page }">
                                        <a class="page-link" href="#" ng-click="setPageVoucher(page)">{{ page }}</a>
                                    </li>
                                    <li class="page-item"
                                        ng-class="{ 'disabled': currentPageVoucher === totalPagesVoucher() }">
                                        <a class="page-link" href="#" ng-click="lastPageVoucher()">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="modal fade delete-modal" id="delete-this-Modal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="bi bi-trash pe-2"></i>
                                    Delete Voucher
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center; align-items: center; margin: 20px auto;">
                                    <p style="font-size: 20px; margin-bottom: 0;">
                                        Are you sure you want to delete this voucher?
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" type="button" aria-label="Close" data-bs-dismiss="modal"
                                    ng-click="deleteVoucher(deleteItem)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade delete-modal" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="bi bi-trash pe-2"></i>
                                    Delete vouchers by type
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-8 offset-sm-2" style="margin-top: 10px;">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="number" class="fw-bold mb-3">Number</label>
                                                    <input type="text" class="form-control" id="number" name="number"
                                                        ng-model="number" placeholder="Voucher Number" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold mb-3">Type voucher</label>
                                                    <select ng-model="type" class="form-control" name="type" id="type">
                                                        <option value="" selected disabled>Select a type
                                                        </option>
                                                        <option ng-repeat="t in types" ng-value="t.id">{{t.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="deleteListVoucherByNameAndIdType(number, type)" class="btn btn-danger"
                                    type="button">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="bi bi-pencil-square pe-2"></i>
                                    Edit Voucher
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-9 offset-sm-2" style="margin-top: 50px;">
                                        <div class="row mb-3 mt-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name" class="fw-bold mb-3">Icon Voucher</label>

                                                    <div class="input-group">
                                                        <div class="custom-radio">
                                                            <input class="form-check-input" type="radio"
                                                                name="iconVoucher" id="iconCup" value="bi bi-cup-straw"
                                                                ng-model="voucher.icon">
                                                            <label class="form-check-label" for="iconCup"><i
                                                                    class="bi bi-cup-straw"></i></label>
                                                        </div>

                                                        <div class="custom-radio">
                                                            <input class="form-check-input" type="radio"
                                                                name="iconVoucher" id="iconCake" value="bi bi-cake2"
                                                                ng-model="voucher.icon">
                                                            <label class="form-check-label" for="iconCake"><i
                                                                    class="bi bi-cake2"></i></label>
                                                        </div>

                                                        <div class="custom-radio">
                                                            <input class="form-check-input" type="radio"
                                                                name="iconVoucher" id="iconTruck" value="bi bi-truck"
                                                                ng-model="voucher.icon">
                                                            <label class="form-check-label" for="iconTruck"><i
                                                                    class="bi bi-truck"></i></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name" class="fw-bold mb-3">Name</label>
                                                    <input type="text" class="form-control" id="name" name="name"
                                                        ng-model="voucher.name" placeholder="Voucher Name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 mt-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name" class="fw-bold mb-3">Number</label>
                                                    <input type="text" class="form-control" id="number" name="number"
                                                        ng-model="voucher.number" min="0" placeholder="Voucher" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name" class="fw-bold mb-3"> Voucher price</label>
                                                    <input type="number" class="form-control" id="voucherPrice"
                                                        ng-model="voucher.price" name="number" min="0"
                                                        placeholder="Voucher Price" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 mt-3">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="name" class="fw-bold mb-3">Condition</label>
                                                    <input type="text" class="form-control" id="describe" name="name"
                                                        ng-model="voucher.condition" placeholder="Describe">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 mt-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold mb-3">ExpireDate</label>
                                                    <input class="form-control" type="date" name="day" required
                                                        ng-model="voucher.expiredDate">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold mb-3">Type voucher</label>
                                                    <select ng-model="voucher.type" class="form-control" name="type"
                                                        id="type">
                                                        <option value="" selected disabled>Select a type
                                                        </option>
                                                        <option ng-repeat="t in types" ng-value="t.id">{{t.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 mt-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold mb-3">Choose status</label>
                                                    <div class="input-group">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                ng-model="voucher.status" id="radio1" name="partner"
                                                                ng-value="1" ng-required
                                                                ng-checked="voucher.status == 1" />
                                                            <label class="form-check-label" for="radio1">Active</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                ng-model="voucher.status"  name="all" ng-value="2"
                                                                ng-required ng-checked="voucher.status == 2" />
                                                            <div class="form-check-label">
                                                                InActive
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="voucher.createVoucher()" class="btn btn-primary"
                                    type="button">Create</button>
                                <button ng-click="updateVoucher()" class="btn btn-success" type="button">Update</button>
                                <!-- <button ng-click="updateListVoucher()" class="btn btn-success" type="button">Update Multi</button> -->
                                <button ng-click="reset()" class="btn btn-secondary" type="button">New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div th:replace="~{/admin/component/footer.html}"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/admin/voucher.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
</body>

</html>