<!-- About Us Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s"
                            src="/img/gallery/about-1.jpg" alt="">
                        <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s"
                            src="/img/gallery/about-3.jpg" alt="">
                    </div>
                    <div class="col-6">
                        <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s"
                            src="/img/gallery/about-4.jpg" alt="">
                        <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s"
                            src="/img/gallery/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary" th:text="#{about.subtitle}"></p>
                    <h1 class="display-6" th:text="#{about.title}"></h1>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-sm-4">
                        <img class="img-fluid bg-white w-100 h-100" src="/img/gallery/about-5.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h5 th:text="#{about.section1.title}"></h5>
                        <p style="text-align: justify;" class="mb-0" th:text="#{about.section1.content}"></p>
                    </div>
                </div>
                <div class="border-top mb-4"></div>
                <div class="row g-3">
                    <div class="col-sm-8">
                        <h5 th:text="#{about.section2.title}"></h5>
                        <p style="text-align: justify;" class="mb-0" th:text="#{about.section2.content}"></p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-fluid bg-white w-100 h-100" src="/img/gallery/about-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us End -->