<main xmlns:th="http://www.thymeleaf.org">
  <!-- Carousel Start -->
  <div th:replace="~{/user/component/carousel.html}"></div>
  <!-- Carousel End -->

  <!-- About Start -->
  <div th:replace="~{/user/component/about.html}"></div>
  <!-- About End -->

  <!-- Category Start -->
  <div th:replace="~{/user/component/category.html}"></div>
  <!-- Category End -->

  <!-- Article Start -->
  <div th:replace="~{/user/component/article.html}"></div>
  <!-- Article End -->

  <!-- Contact Start -->
  <div th:replace="~{/user/component/contact.html}"></div>
  <!-- Contact Start -->

</main>